<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Booking App</title>
	<link href="/public/css/app.css" rel="stylesheet">
</head>
<body ng-controller="generalCtrl">
	<header>
		<a id="toggle-button" class="btn btn-primary toggle-button" ng-class="{'show-nav': showMenu}" ng-click="showMenu = !showMenu"><i class="fa fa-bars fa-lg"></i></a>
		{{showMenu}}
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<img class="img-circle" src="img/me.jpg" width="30" height="30" alt="Maanu Manjeri">
					മാനു കോനു <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a ui-sref="profile"><i class="fa fa-user"></i> Profile</a></li>
					<li><a ui-sref="settings"><i class="fa fa-cogs"></i> Settings</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="logout.html"><i class="fa fa-power-off"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</header>

	<div class="container-body">
    	<main class="container-fluid" ui-view></main>

		<nav class="side-nav" ng-class="{'show-nav': showMenu}" ng-include src="'public/side-nav.html'"></nav>

		<aside class="right-list">
			<pre>{{showMenu | json}}</pre>
			<h3 ng-click="showMenu = !showMenu">{{showMenu}}</h3>
    	</aside>
  	</div>

	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius nihil provident dolores autem neque sapiente vitae.</p>
	</footer>
<!-- 	<div id="wrapper" ng-class="menuStatus ? '' :'toggled'">

	Side menu
	<div ng-include="'side-menu.html'"></div>
	<div id="page-content-wrapper">
		<div class="container-fluid">

			Navigation bar
			<div ng-include="'mainmenu.html'"></div>

			ngView content
			<div ng-include="'dashboard.html'"></div>
			<div ng-include="'expense.html'"></div>
			<div ng-include="'recurring.html'"></div>
			<div ng-include="'invoice.html'"></div>
			<div ng-include="'userdetails.html'"></div>
			<div ng-include="'settings.html'"></div>
		</div>
	</div>
</div> -->
	<!-- bower:js -->
	<!-- bower installed scripts will go here... -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- app scripts will go here... -->
	<!-- endinject -->
</body>
</html>
